/* 
*
******************************** medias query ********************************
*
 */


@media only screen and (max-width: 1080px) {
    header {
        position: static;
    }

    header div.content-header {
        max-width: none;
    }

    header div.content-header img {
        position: absolute;
    }

    header nav ul {
        display: none;
    }

    nav {
        width: 100%;
    }

    nav label {
        display: flex;
    }

    nav #menu:checked+.menu-items {
        display: flex;
    }

    section {
        padding-top: 0;
    }

    section#projects, section#contact {
        padding-top: 2em;
    }

    section div#projects-content {
        display: block;
        padding: 0 2em 2em 2em;
    }

    section div#projects-content p {
        width: 100%;
        text-align: center;
    }

    section div div#projects-box {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        scrollbar-color: var(--button-color) rgba(0, 0, 0, .1);
        scrollbar-width: thin;
        margin-top: 6em;
    }

    section div div#projects-box::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, .1);
        border-radius: 3px;
    }
    
    section div div#projects-box::-webkit-scrollbar {
        height: 10px;
        /* background-color: #F5F5F5; */
    }
    
    section div div#projects-box::-webkit-scrollbar-thumb {
        background-color: var(--button-color);
        border-radius: 3px;
    }

    section div div.card {
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        flex: 1 0 250px;
        margin-bottom: 2em;
    }

    section#about {
        padding-top: 0;
    }

    section div#form-contact {
        flex-wrap: wrap;
        padding: 6em 20px;
    }

    div#form-contact form {
        align-items: center;
        text-align: center !important;
    }

    section div#form-contact div {
        gap: 15px;
        text-align: center !important;
    }

    div#form-right {
        padding: 30px !important;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .iconform {
        position: static;
    }
}

@media only screen and (max-width: 610px) {

    .textinput {
        font-size: 15px;
    }

    p {
        margin: 2.5em 0;
    }

    nav div.menu-items a {
        font-size: 18px;
    }

    section {
        padding-top: 0;
    }

    section#presentation div {
        padding: 6em 20px;
    }

    section div#projects-content {
        padding: 0;
        overflow: hidden;
    }

    section div div#projects-box {
        margin-top: 2.5em;
    }

    .popup {
        width: clamp(220px, 80vw, 520px);
    }

    section div div#projects-box .card, .fadedbox, .img-project {
        aspect-ratio: auto 200 / 200;
        width: 200px !important;
        height: 200px !important;
        flex: 1 0 200px; 
    }

    section div p img.avatar {
        float: none;
        position: static;
    }

    section div#form-contact {
        padding: 0;
    }

    section div#form-contact form input,
    textarea {
        width: 100%;
        margin-left: 0;
    }

    div#form-contact form {
        margin: 2.5em 0;
    }

    section div#form-contact form label {
        display: block;
    }

    section div#form-contact form input.submit-button {
        width: 100%;
    }

    section div#form-contact div#form-right {
        display: none;
    }

    footer div.content-footer {
        flex-wrap: wrap;
    }
}